---
import Layout from "../../layouts/Layout.astro";
import Articulo1 from "../../components/Articulo.astro";
import ArticulosHero from "../../components/Articulos/ArticulosHero.astro";
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";

import { db, Articulo, desc } from "astro:db";

const articulos = await db
  .select()
  .from(Articulo)
  .orderBy(desc(Articulo.fecha))
  .limit(24);
---

<Layout title="MdMusica" description="Una adicción sin efectos secundarios">
  <Navbar />
  <main>
    <ArticulosHero />
    <h1
      class="text-3xl md:text-5xl pb-2 pt-20 m-auto px-6 max-w-[1800px] text-center font-bold"
    >
      Articulos 📝
    </h1>
    <hr class="max-w-[1750px] w-full m-auto px-6 pb-6" />

    <div
      class="m-auto px-4 sm:px-6 max-w-[1800px] w-full grid grid-cols-1 md:grid-cols-6 gap-4 md:gap-6 pb-10"
    >
      {
        articulos.map((n) => (
          <a href={`/Articulo/${n.slug}`}>
            <Articulo1
              title={n.titulo}
              image={n.imagen}
              color={n.color}
              autor={n.autor}
            />
          </a>
        ))
      }

    </div>
  </main>
  <Footer />
</Layout>

<style></style>
