---
import { NOW } from "astro:db";
import Noticia1 from "../components/Noticia.astro";
import { db, Noticia, desc } from "astro:db";

const noticiasTitulos2 = await db
  .select()
  .from(Noticia)
  .orderBy(desc(Noticia.fecha))
  .limit(6)
  .offset(14);
---

<h1 class="text-3xl lg:text-5xl flex mt-3 mx-6 justify-center">
  Por si te lo perdiste :(
</h1>
<div class="overflow-x-hidden py:6 lg:py-10">
  <div class="flex-container">
    {
      noticiasTitulos2.map((n) => (
        <a href={`/Noticia/${n.slug}`}>
          <Noticia1 title={n.titulo} image={n.imagen} />
        </a>
      ))
    }

    {
      noticiasTitulos2.map((n) => (
        <a href={`/Noticia/${n.slug}`}>
          <Noticia1 title={n.titulo} image={n.imagen} />
        </a>
      ))
    }
  </div>
</div>

<style>
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  .flex-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    animation: moveRightToLeft 15s linear infinite;
  }

  @keyframes moveRightToLeft {
    0% {
      transform: translateX(1476px);
    }
    100% {
      transform: translateX(-1476px);
    }
  }
</style>
